.one{
    display: flex;
    align-items: center;
    background-color: rgba(19, 22, 20, 0.80);
}
.two{
    width: 25%;
    border: 2px solid white
}
.three{
    width: 75%;
}
.button{
    color: white;
    border: 1px solid white ;
    border-radius: 3px;
    width: 100px; 
    height: 30px;
    background-color: rgba(19, 22, 20, 0.80);
    cursor: pointer;
    font-family:'Genos', sans-serif;
    font-size: 18px;
    text-align: center;
}