*{
    color:black
}

ul{
    list-style: none;
    height: 20%;
}

.contenedor{
    border: #f8961e solid 2px;
    background-color: rgba(249, 199, 79, 0.40);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    position: relative;
}

h1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 20%;
}

img{
    width: 50%;
    height: 20%;
}
.contenedor:hover{
    background-color:rgba(248, 150, 30, 0.45);
}