html{
    background-image: url('https://cdn.wallpapersafari.com/26/92/0KH5pV.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:scroll;
    color: white;
}
.h1{
    font-size: 50px;
}


.button{
    color: white;
    border: 1px solid black ;
    border-radius: 3px;
    width: 130px; 
    height: 30px;
    background-color: rgba(19, 22, 20, 0.80);
    cursor: pointer;
    font-family:'Genos', sans-serif;
    font-size: 22px;
    text-align: center;
}

button:hover{
background-color: rgba(19, 22, 20, 0.55);
}